.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: flex;
    height: flex;
    justify-content: center;
    align-items: center;
    background: #fffdfd;
    width: 25%;
    border-radius: 10px;
    overflow-y: auto;
}

.card-header {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.card-body {
    height: 90%;
    width: 90%;
}

.form-group {
    margin: 16px;
}

.form-group form {
    margin: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding is included in the element's total width and height */
}

#submit{
    background-color: rgb(0, 170, 108);
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    max-height: 70px;
    max-width: 150px;
    cursor: pointer;
    margin: 10px;
}

#cancel{
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    color: #0a9d3b;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    max-height: 70px;
    max-width: 150px;
    cursor: pointer;
    margin: 10px;
}