 .addtrade-card {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: flex;
     height: flex;
     justify-content: center;
     align-items: center;
     background: #2e2e2e;
     width: 100%;
     max-height: 80%;
     border-radius: 10px;
     min-height: 80%;
     overflow-y: auto;
     z-index: 999;
 }

 .addtrade-card-header {
     font-size: 20px;
     font-weight: bold;
     background: #585757;
     height: 30px;
     color: #ffffff;
     /* margin: 10px 10px 10px 10px;  */
 }

 .addtrade-card-body {
     height: 100%;
     width: 100%;
 }

 .form-top-section,
 .form-bottom-section,
 .form-middle-section {
     display: flex;
     justify-content: left;
 }


 .form-group {
     margin: 16px;
 }

 .form-group form {
     margin: 16px;
 }

 .form-group label {
     display: block;
     margin-bottom: 4px;
     font-weight: bold;
     color: #0de15e
 }

 .form-group input,
 .form-group select,
 .form-group textarea {
     width: 100%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     /* Ensures padding is included in the element's total width and height */
 }

 .form-group .form-group-disabled {
     color: #ececec;
     font-weight: bold;
 }

 #add-order {
     background-color: rgb(17, 24, 232);
     border-color: #000000;
     border-width: 1px;
     border-radius: 6px;
     color: #ffffff;
     text-align: center;
     font-size: 15px;
     padding: 2px;
     height: 30px;
     max-width: 150px;
     cursor: pointer;
     margin: 10px;
 }


 .tabs {
     display: flex;
     margin-bottom: 10px;
     height: 30px;
     border: #ffffff;
 }

 .tabs button {
     background: #3a3838;
     max-width: auto;
     max-height: 30px;
     flex: 1;
     /* padding: 8px; */
     border: white;
     /* border-radius: 6px; */
     color: rgb(163, 159, 159);
     cursor: pointer;
     font-size: 15px;
     font-weight: bold;
 }

 .tabs button.active {
     background: #2e2e2e;
     color: rgb(245, 245, 245);
     font-size: 18px;
 }

 .form-footer {
     position: absolute;
     bottom: 1px;
     width: 100%;
     text-align: center;
     padding: 1px;
     display: flex;
     justify-content: center;
 }

 #submit-trade {
     background-color: rgb(0, 170, 108);
     border-color: #000000;
     border-width: 1px;
     border-radius: 6px;
     color: #ffffff;
     text-align: center;
     font-size: 15px;
     padding: 2px;
     height: 30px;
     /* max-width: 150px; */
     cursor: pointer;
     margin: 10px;
     width: 30%;
     font-weight: bold;
 }

 #delete-trade {
     background-color: rgb(160, 7, 7);
     border-color: #000000;
     border-width: 1px;
     border-radius: 6px;
     color: #ffffff;
     text-align: center;
     font-size: 15px;
     padding: 2px;
     height: 30px;
     /* max-width: 150px; */
     cursor: pointer;
     margin: 10px;
     width: 30%;
     font-weight: bold;
 }

 #cancel-trade {
     background-color: rgb(255, 255, 255);
     border-color: #000000;
     border-width: 1px;
     border-radius: 6px;
     color: #0a9d3b;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     padding: 2px;
     max-height: 70px;
     /* max-width: 150px; */
     cursor: pointer;
     margin: 10px;
     width: 30%;
 }

 .orders-table {
     width: 100%;
     background-color: #302f2f;
     border-radius: 8px;
     /* overflow: hidden; */
     border-collapse: separate;
     border-spacing: 0 5px;
     overflow-y: auto;
 }

 /* Add spacing between rows */
 .orders-table tbody tr {
     margin-bottom: 10px;
     border-radius: 8px;
     background-color: #302f2f;
 }

 .orders-table th,
 .orders-table td {
     padding: 12px;
     text-align: center;
     border-bottom: 1px solid #333;
 }

 .orders-table th {
     background-color: #1d1d1d;
     font-size: 16px;
     color: rgb(65, 255, 252);
     font-weight: bold;
 }

 .buy-order {
     color: rgb(73, 219, 70);
 }

 .sell-order {
     color: rgb(245, 60, 60);
 }

 .orders-table td {
     font-size: 15px;
     /* color: rgb(210, 249, 68); */
     font-weight: bold;
 }

 .trade-table td:last-child {
     text-align: center;
 }

 .notes,
 .tags {
     font-size: 12px;
     color: rgb(244, 244, 244);
 }

 .orders-table tbody tr:nth-child(even) td {
     background-color: #2a2828;
 }

 /* Rounded corners for first and last cell in each row */
 .orders-table tbody tr td:first-child {
     border-top-left-radius: 12px;
     border-bottom-left-radius: 12px;
 }

 .orders-table tbody tr td:last-child {
     border-top-right-radius: 12px;
     border-bottom-right-radius: 12px;
 }