.model-container {
    position: fixed;
    /* top: 5%;
    left: 5%; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

#model {
    background: rgb(218, 218, 218);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(80, 77, 77, 0.3);
    padding: 5px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
}

.model-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
}

.model-form {
    padding: 10px;
    width: 100%;
    height: 80vh;
    overflow-y: auto; 
}

.model-form label {
    display: block;
    margin-bottom: 6px;
}

.model-form input {
    padding: 8px;
    width: 60%
}

#noteseditor {
    width: 90%;
    height: 80vh;
    font-size: 50px;
    overflow-y: auto;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
}

.submit-btn {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    background: rgb(27, 181, 94);
    cursor: pointer;
    color: white
}