.trades-table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 20px auto;
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(227, 224, 224, 0.1); */
}

.trades-table {
    width: 100%;
    background-color: #312e2e;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.trades-header {
    /* background-color: #626262; */
    color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #0a0909;
    /* z-index: 2; */
}

tbody{
    background-color:  #ffffff;
}

.trades-table tbody tr {
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #302f2f;
}

.trades-table th{
    background-color: #3c3939;
}

.trades-table th,.trades-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #333;
}

td {
    background-color: #1d1d1d;
    font-size: 16px;
    color: rgb(199, 230, 41);
    font-weight: bold;
}

.trades-table td:last-child {
    text-align: center;
}

.trades-table tbody tr:nth-child(even) td {
    background-color: #5e5b5b;
    color:rgb(2, 234, 250)
}

.trades-table tbody tr:nth-child(even):hover td, .trades-table tbody tr:hover td {
    background-color: #dddada;
    color: rgb(4, 5, 5);
    cursor: pointer;
}

.trades-table tbody tr td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.trades-table tbody tr td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}   

.trades-table tr th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.trades-table  tr th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}   